body{
    background-color: #DDE6ED;
}

.mg-bottom{
    margin-bottom: 5%;
}

.img-size{
    width: 320px; height: 450px;
}

@media only screen and (max-width: 760px) {
    .img-size {
        width: 520px; height: 600px;
    }
  }

.max-lenght p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }


.navbar img{
    width: 40px;
    height: 40px;
}

.navbar-light {
    background-color: #27374D;
}